<h2>Guess the number</h2>

<form action="/games/secret_number" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <button name="user_answer" type="submit" value="1">1</button>
  <button name="user_answer" type="submit" value="2">2</button>
  <button name="user_answer" type="submit" value="3">3</button>
  <button name="user_answer" type="submit" value="4">4</button>
  <button name="user_answer" type="submit" value="5">5</button>
  <button name="user_answer" type="submit" value="6">6</button>
  <button name="user_answer" type="submit" value="7">7</button>
  <button name="user_answer" type="submit" value="8">8</button>
  <button name="user_answer" type="submit" value="9">9</button>
  <button name="user_answer" type="submit" value="10">10</button>

</form>

<%= @message %>
