<h3>Result</h3>

<p>Player throws <%= params[:throw].capitalize %></p>
<p>Computer throws <%= @computer.capitalize %></p>

<span><%= @winner %></span>

<div>
  <a href="/games/rock_paper_scissors/:throw">Back</a>
</div>
