<h3>Ask Magic 8 Ball a question</h3>

<form action="/games/magic_8_ball" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="question" size="50">

  <button>Ask</button>
</form>

<span><%= @answer %></span>
