<form action="/about" method="get">
  <input name="title" type="text" value="">
  <select name="search">
    <option value="title">Title</option>
    <option value="imdb_num">IMDB ID</option>
    <!-- <option value="poster">Poster Only</option> -->
  </select>
  <button id="search-btn">Search</button>
  <!-- <button id="reset-btn">Reset</button> -->
</form>

<div class="test-text">
  <h2>Test Entries</h2>
  <ul>
    <li>Petulia</li>
    <li>Persona</li>
    <li>tt1285016</li>
    <li>tt0090756</li>
  </ul>
</div>
