<%= form_tag '/login', method: 'post' do %>
  <label for="">email</label>
  <input name="email" type="text">
  <label for="">password</label>
  <input name="password" type="password">
  <button>Log In</button>
<% end %>
