<form class="search-form" action="/search_results" method="get">
  <input name="title" type="text" value="">
  <button id="search-btn">Search</button>
</form>

<h2 class="heading-homepage"><a href="/search_history">Search History</a></h2>
