<div class="center">
  <form action="/artworks" method="post">
    <label for="">Title</label>
    <input name="title" type="text">
    <label for="">Artwork</label>
    <input name="artist" type="text">
    <label for="">Image URL</label>
    <textarea name="image_url" rows="3" cols="50"></textarea>
    <div>
      <button>Create</button>
    </div>
  </form>
</div>
