<form action="/search_results" method="get">
  <input name="title" type="text" value="">
  <button id="search-btn">Search</button>
</form>


<div class="test-text">
  <h2>Test Entries</h2>
    <ul>
      <li>Petulia</li>
      <li>Persona</li>
      <li>tt1285016</li>
      <li>tt0090756</li>
    </ul>
</div>
